body, html {
  margin: 0 auto;
  width: 100%
  height: 100%;
  min-width: 960px;
  -webkit-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: Lato;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
 background-color: #fff;
 border: 1px solid #dedede;
 border-radius: 4px;
 box-shadow: 0 3px 3px -1px rgba(0,0,0,0.055);
 color: #888;
 display: block;
 margin: 0px;
 overflow: hidden;
 width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

nav ul li a {
    display: block;
    line-height: 50px;
    padding: 0 30px;
    text-decoration: none;
}

nav ul li:hover {
    background-color: rgb( 40, 44, 47);
}

nav ul li:hover a {
    color: white;
}

#jumbotron {
    width: 100%;
    height: 880px;
    float: left;
    background-image:
        linear-gradient(
            rgba(0,0,0,0.4),
            rgba(0,0,0,0.4)
        ),
        url('../img/hdg-jumbotron.jpg');
    background-size: cover;
    position: relative;
}

#jumbotron-welcome {
    position: absolute;
    top: 10px;
    left: 200px;
    padding: 4px 8px;
    color: white;
    margin: 0;
    border-radius: 3px;
}

#jumbotron-welcome h1 {
    font-size: 100px;
}

#jumbotron-welcome h2 {
    font-size: 30px;
}